.root {
    background-color: #F9095F;
    color: #FFF;
    padding: 20px 0px;
    font-size: 32px;
    font-weight: bold;
}

.content {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 24px;
}