.root {
    background-color: #F9095F;
    color: #FFF;
    padding: 20px 0px;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
    margin-right: 1.5rem;
}