name: Code coverage

on:
    push:
        branches: [master]
    pull_request:
        branches: [master]

jobs:
    job:
        name: Code coverage

        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [14.x]
                # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: 'npm'
            - name: Install dependencies
              run: npm ci
            - name: Run test script
              run: npm run code-coverage
            - name: Code Coverage Report
              uses: romeovs/lcov-reporter-action@v0.2.11
